body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f6f9ff;
  height: 100vh;
  width: 100%;
  /* animation: sidebarSlideIn 0.6s ease-in-out; */
}

.sidebar.dark {
  background-color: black;
}

.sidebar-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar-loading.light {
  background-color: #f6f9ff;
}

.sidebar-loading.dark {
  background-color: black;
  color: white;
}

/* sider container */

.sider-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  gap: 0;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.sider-container.darkmode {
  background-color: black;
  color: white;
}

.sider-container.lightmode {
  background-color: white;
  color: black;
}

.sider-container .sider-col-1 {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  gap: 10px;
  justify-content: space-between;
}

.sider-container .sider-col-1 .child {
  flex: 1 1 auto;
  min-width: 0;
  height: 100%;
  overflow: hidden;
}

@keyframes sidebarSlideIn {
  0% {
    transform: translateX(-20%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
